name: trial-redis

volumes:
  redis_data:

networks:
  backend:

services:
  redis:
    container_name: redis
    image: redis/redis-stack-server:latest
    restart: unless-stopped
    networks:
      - backend
    ports:
      - ${PORT-6379}:6379
    volumes:
      - type: volume
        source: redis_data
        target: /data
